.list {
    list-style: none;
  }
  .container {
    width: 1000px;
    padding: 30px 50px;
    background-color: rgb(217, 115, 115);
    color: white;
    font-size: 1.4em;
  }
  .header {
    text-align: center;
  }
  .list-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5em;
  }
  .handle{
      display: flex;
      align-items: center;
  }
  .todo{
          width: 60%;
          height: 30px;
  }
  .btn{
       background-color: rgb(217, 115, 115);
    color: white;
    border: navajowhite;
    border: 1px solid;
    padding: 10px 20px;
    cursor: pointer;
  }
  .form{
      display: flex;
      align-items: center;
  }
  .checkbox {
   
    width: 40px;
    height: 30px;
    /* Màu nền của hộp chọn */
    background-color: #ccc;
    /* Bo viền */
    border: 1px solid #ccc;
    /* Bo viền góc */
    border-radius: 3px;
    /* Canh giữa ô checkbox */
    vertical-align: middle;
    /* Kiểu con trỏ */
    cursor: pointer;
  }
  
  /* Khi ô checkbox được kiểm tra */
  
  /* Khi di chuột qua ô checkbox */
  